:root{
    --home-color:#40128B;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.buttons-more{
    text-align: center;
}

.buttons-more button{
    margin-top: 20px;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    border-color:#40128B;
    transition: all 1s ease;
}

.buttons-more button:hover{
background-color: #40128B;
border-color: white;
color: white;
}
.buttons-more button:hover  a {
    color:white;
}
.buttons-more button:hover  i {
    transform: translateX(-2px);
}
.buttons-more button a {
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size: 20px;
    transition: all 0.5s ease;

}
.buttons-more button i {
    transition: all 0.5s ease;
    font-size: 20px;
}