:root{
    --home-color:rgb(3, 27 , 63);
    --bron-color:rgba(168,134,111);
    --bron-white: rgba(237 , 209 ,188);
}
body{

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo';
    font-size: 22px;

}
.buttons-more{
    text-align: center;
    margin-bottom: 20px;
}

.buttons-more button{
    margin-top: 20px;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    border-color:var(--home-color);
    transition: all 1s ease;
}

.buttons-more button:hover{
background-color: var(--home-color);
border-color: var(--bron-color);
color: var(--bron-color);
}
.buttons-more button:hover  a {
    color:var(--bron-color);
}
.buttons-more button:hover  i {
    transform: translateX(-2px);
}
.buttons-more button a {
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size: 20px;
    transition: all 0.5s ease;

}
.buttons-more button i {
    transition: all 0.5s ease;
    font-size: 20px;
}