:root{
  --home-color:rgb(3, 27 , 63);
  --bron-color:rgba(168,134,111);
  --bron-white: rgba(237 , 209 ,188)
}

.main-title {
    margin: 100px auto;
    border: 2px solid var(--bron-color);
    padding: 3px 56px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: 0.3s;
  }
  
  .main-title:hover {
    color: var(--home-color);
    border: 2px solid var(--home-color);
    transition-delay: 0.5s;
  }
  .main-title::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--bron-color);
    position: absolute;
    border-radius: 50%;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-title:hover::before {
    z-index: -1;
    animation: left-move 0.7s linear forwards;
  }
  .main-title:hover::after {
    z-index: -1;
    animation: right-move 0.7s linear forwards;
  }
  @keyframes left-move {
    50% {
      left: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      border-radius: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  @keyframes right-move {
    50% {
      right: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      border-radius: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
  .main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color:var(--bron-color);
    position: absolute;
    border-radius: 50%;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
  }



/* start services  */
.services {
  transition: all 1s ease-in;
    background-color: #ececec;
    padding-top: 50px;
    margin-bottom: 100px;
    padding-bottom: 50px;
  }
  .services .boxses {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  }
  .services .boxses .box {
    width: 22%;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
    flex-direction: column;
    background-color: white;
    counter-increment: services;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  }
  .services .boxses .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 30%);
    left: 0;
    transition: 0.3s;
  }
  .services .boxses .box:hover::after {
    left: 0%;
    top: 0%;
    transition: 1s;
  }
  
  .services .boxses .box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: var(--home-color);
    transition: 0.3s;
    top: 0%;
    left: -100%;
  }
  
  .services .boxses .box i {
    color: var(--home-color);
  }
  .services .boxses .box h3 {
    color: var(--bron-color);
  }
  .services .boxses .box .number {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    height: 50px;
  }
  .services .boxses .box .number h1 {
    padding-left: 10px;
    background-color: var(--home-color);
    height: 100%;
    padding-right: 20px;
    position: relative;
  }
  .services .boxses .box .number h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #d5d5d5;
    clip-path: polygon(
      0% 0%,
      98% 0%,
      84% 59%,
      74% 100%,
      0% 100%,
      0% 60%,
      -1% 20%
    );
  }
  .services .boxses .box .number h1::before {
    content: "0" counter(services);
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--bron-color);
    background-color: var(--home-color);
    left: 0;
    clip-path: polygon(
      0% 0%,
      98% 0%,
      84% 59%,
      74% 100%,
      0% 100%,
      0% 60%,
      -1% 20%
    );
    padding-left: 10px;
  
    z-index: 1;
  }
  .services .boxses .box .number a {
    text-decoration: none;
    color: var(--bron-color);
    font-weight: bold;
    font-size: 20px;
    padding-right: 10px;
  }
  @media (max-width: 768px) {
    .services .boxses .box {
      width: 40%;
    }
  }
  @media (max-width: 480px) {
    .services .boxses .box {
      width: 95%;
    }
  }
  /* end services  */
