:root{
    --home-color:rgb(3, 27 , 63);
    --bron-color:rgba(168,134,111);
    --bron-white: rgba(237 , 209 ,188);
    --bron-light:rgba(209, 198,182);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.what-us  button {
    background-color: white;
}

.what-us{
    position: relative;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 180px;
    margin-bottom: 80px;
}
.what-us .right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: end;
    margin-right: 100px;
    justify-content: space-evenly;
}

.content {
    display: none;
}

.vis-btn {
background-color: #ffffff; 
}

.vis-btn.active {
background-color:var(--bron-white); 
color:white;
}
.vis-btn.active .vision h2 , 
.vis-btn.active .vision h6 {
    color: var(--home-color);
}
.what-us .vis-btn{ 
    margin-bottom: 30px;
    border: 1px solid #f6f5f5;
    border-radius: 50px;
    position: relative;
    z-index: 1;
    transition: 1s;
    /* background-image: url("../images/back-black.png");
    background-position:  center left; 
    background-repeat: no-repeat;  */
    width: 450px;

}
.vis-btn.active::before{
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 5px;
    width: 15%;
    height: 95%;
    opacity: 1;
    background-image: url("../images/vision-btn.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
  }


.what-us .vis-btn .vision{
    transition: all 0.5s ease;
    text-align: end;
    height: 13vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.what-us .vis-btn .vision div{
    margin-right: 50px;
}
.what-us .vis-btn .vision:hover div h2 , 
.what-us .vis-btn .vision:hover div h6{
    color: var(--home-color);
    transition: all 0.5s ease-in;
}
.what-us .vision::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50px;
    background-color: var(--bron-white);
    left: 50%;
    top: 50%;
    z-index: -999;
    transform: translate(-50%, -50%);
}

.what-us .vision:hover::after{
    width: 101%;
    height: 101%;
    transition: all 0.5s ease;
}


.what-us .left{
    display: flex;
    position: relative;
    /* background-image: url("../images/back.png");
    background-position:  center right; 
    background-repeat: no-repeat;  */
}
/* .what-us .left::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url(../images/logo2.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;

} */

.what-us .vision-left{
    width: 60%;
    display: none;
    height: fit-content;
    margin: 10px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: black 0px 20px 20px -20px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.7s ease-in;
    text-align: end;
    background-color: var(--bron-white);

    position: relative;

}
.what-us  .vision {

}
.what-us .vision i , 
.what-us .vision h2 , 
.what-us .vision h6 , 
.what-us .vision p{
    margin-bottom: 10px;
    margin-left: 15px;
}
.what-us .vision h2 {
    color: var(--bron-color);
    font-size: 26px;

}
.what-us .vision-left p{
    margin: auto 70px auto auto;
}
.what-us .vision h6 {
    font-size: 19px;
    color: var(--bron-color);
    font-family: 'Cairo';
    font-weight: 300;

}
.what-us .vision i {
    font-size: 25px;
    color: var(--bron-color);
}
.what-us .vision h2{
    font-weight: bolder;
}
.what-us .vision p {
    text-align:center;
    font-weight: 700;
}



.fixed-size-left {
    width: 800px; 
}
.fixed-size-button {
}

@media (max-width: 1420px){

}
@media (max-width: 1040px){
    .what-us .right {
    margin-right: 70px;
    }
    .what-us .left {
        width: 70%;
    }

    .what-us .vision-left {
            width: 80%;
    }
}

@media (max-width: 880px){
    .what-us {
        flex-direction: column;
    }
    .what-us .right {
        flex-direction: row;
    }
    .what-us .left {
        width: 90%;
    }
    .what-us .vis-btn {
        width: 48%;
    }
    .what-us .vis-btn h6{
        font-size: 13px;
    }
}

@media (max-width: 580px){
    .what-us .vis-btn {
        width: 98%;
    }
    .what-us .right {
    margin-right: 20px;
    }
    .what-us .vision-left {
        margin-left: 28px;
        width: 85%;
        }
    .what-us .left{
        width: 100%;
    }
    .what-us .vision-left p {
        margin: 0;
    }
}
