:root{
    --home-color:rgb(3, 27 , 63);
    --bron-color:rgba(168,134,111);
    --bron-white1: rgba(237 , 209 ,188);
    --bron-white:rgba(236, 224, 211);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.who-us{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
    transition: all 1s ease-in-out;

}


.who-us .title { 
    text-align: end;
    margin-bottom:50px;
}
.who-us .title h4 {
    font-size: 50px;
    color:var(--home-color);
    text-align: center;
}
.who-us .title h4 img {
    width: 50px;
}
.who-us .title h4 , p { 
    font-weight: bold;
}

.who-us .who-info .images img{
    width: 500px;
    border-radius: 10px;
}
.who-us .who-info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 120px;
}
.who-us .who-info .info{
    width: 50%;
    margin-left: 32px;
}

.who-us .who-info .info .i-title {
    width: 70%;
    margin: 0px auto;
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--bron-white);
    padding: 10px;
    border-radius: 10px;
    box-shadow: black 0px 13px 20px -20px;
    margin-top: 30px;
    position: relative;

}
.who-us .who-info .info .i-title::before{
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 3%;
  height: 100%;
  opacity: 1;
  background-image: url(../images/back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.who-us .who-info .info .i-title p {
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px;
}
.who-us .who-info .info .i-title i {
    color:var(--home-color);
    font-size: 20px;
    margin-right: 60px;

}

.who-us .who-info .images{
    width: 40%;
}

.main-title-link {
    align-items: center;
    text-align: center;
    width: 50px;
    margin: 17px auto;
    border: 2px solid var(--bron-color);
    font-size: 30px;
    width: 200px;
    position: relative;
    z-index: 1;
    transition: 0.3s;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }

  .who-us .buttons {
    display: flex;
    width: 700px;
  }
  .main-title-link:hover {
    color: var(--home-color);
    border: 2px solid white ; 
    transition-delay: 0.5s;
    border-radius: 50%;
  }
  .main-title-link::before {
    content: "";
    background-color: var(--bron-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    
  }
  .main-title-link:hover::before {
    z-index: -1;
    animation: left-move 0.4s linear forwards;
  }
  .main-title-link:hover::after {
    z-index: -1;
    animation: right-move 0.4s linear forwards;
  }
  @keyframes left-move {
    50% {
      left: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      border-radius: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  @keyframes right-move {
    50% {
      right: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      border-radius: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
  .main-title-link::after {
    content: "";
    background-color:var(--bron-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-title-link a {
    color: var(--home-color);
    text-decoration: none;
  }
  .main-title-link a:hover{
    color: white;
  }
  @media (max-width: 1030px){
    .who-us .who-info .info .i-title{
      width:90%;
    }
  }
@media (max-width: 900px){

    .who-us .who-info .info .i-title{
        width: 80%;
        margin-bottom: 20px;
    }
    .who-us .who-info .images{
      display: none;
    }
    
    .who-us .who-info {
        flex-direction: column-reverse;
    }
    .who-us .buttons {
        display: block;
        width: 700px;
      }
      .who-us .who-info .info {
        width: 100%;
      }
}
@media (max-width: 600px){
    .who-us .who-info .info .i-title{
        width: 90%;
    }
    .who-us .who-info {
      margin-right: 60px;
    }
    .who-us .who-info .images {
      display: none;
    }

}
